
.wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
  h1 {
    font-size: 60px;
    line-height: 100%;
    cursor: auto;
  }
  .can-do {
    margin-top: 6%;
  }

  .left-text {
    width: 400px;
    line-height: 1.3em;
    letter-spacing: .02em;
    margin-top: 30px;
    button {
      display: inline-block;
      position: relative;
      right: 50px;
      background-color: $white;
      border: 2px solid #1c2018;
      color: #1c2018;
      cursor: pointer;
      height: 80px;
      width: 300px;
      a {
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $base-font-family;
        color: #1c2018;
        letter-spacing: .1em;
        font-weight: 400;
      }
      &:focus {
        outline: none;
        background-color: #1c2018;
        a {
          color: $white;
        }
      }
      &:hover {
        background-color: #1c2018;
        transition: 0.1s background-color linear, 0.1s color linear;
        transition-property: background-color, color;
        transition-duration: 0.1s, 0.1s;
        transition-timing-function: linear, linear;
        transition-delay: initial, initial;
        a {
          color: $white;
        }
      }
    }
    h1 {
      font-size: 36px;
      padding: 0px 30px 10px 20px;
      position: relative;
      right: 50px;
    }
  }
  
  .right-text {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 401px;
    left: 362px;
    top: -177px;
    p {
      line-height: 1.6em;
      font-size: 22px;
      text-align: left;
    }
  }
  .carousel {
    position: relative;
    bottom: 18vh;
  }
  #carousel-img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .blockquote-container {
    position: relative;
    bottom: 80px;
  }
  h2 {
    font-size: 36px;
    line-height: 1.3em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: .02em;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-bottom: 10px;
  }
  .blockquote {
    text-align: left;
    border: 1px solid rgba(28,32,24,.8);
    border-width: 0 0 0 1px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    font-size: 22px;
    line-height: 1.6em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
  }
  .quoter {
    text-align: right;
    font-size: 22px;
  }
}