/**
 * Links
 */
a {
    color: $gold;
    text-decoration: none;

    &:visited {
        color: darken($gold, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

